html, body, h1, form, fieldset, legend, ol, li {
	margin: 0;
	padding: 0;
}
body {
	background: #fdfcfc;
	color: #111111;
	padding: .5%;
	animation: transitionIn 1s;
}
@keyframes transitionIn {
	from {
		opacity: 0;
		transform: rotateX(-10deg);
	}
	to {
		opacity: 1;
		transform: rotateX(0)
	}
	
}

form{
	background: #C5FB77;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;
	padding: 2%;
	width: 100%;
}

ol{
	list-style-type: none;
}
/* Style the list items*/
form ol li {
	background: #b9cf6a;
	background: rgba(255,255,255,.3);
	border-color: #e3ebc3;
	border-color: rgba(255,255,255,.6);
	border-style: solid;
	border-width: .5%;
	-moz-border-radius: 2%;
	-webkit-border-radius: 2%;
	border-radius: 2%;	padding: 1% 2%;
	margin-bottom: .5%;
}

form ol ol li {
	background: none;
	border: none;
	float: left;
}

form{
	counter-reset: fieldsets;
}

form > fieldset > legend:before {
	content: "Step " counter(fieldsets) ": ";
	counter-increment: fieldsets;
}
